body{
    background-color: rgb(77, 74, 74);
    background-attachment: fixed;
    background-size: cover;
    font-family:"SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding: 1%;
}
